In [20]:
import pandas as pd
url = '~/Documents/Expedia/train.csv'
expedia = pd.read_csv(url, parse_dates=[0, 11, 12], nrows = 100000) #import 1M rows of training data

expedia.isnull().any() # show columns with null values

date_time                    False
site_name                    False
posa_continent               False
user_location_country        False
user_location_region         False
user_location_city           False
orig_destination_distance     True
user_id                      False
is_mobile                    False
is_package                   False
channel                      False
srch_ci                       True
srch_co                       True
srch_adults_cnt              False
srch_children_cnt            False
srch_rm_cnt                  False
srch_destination_id          False
srch_destination_type_id     False
is_booking                   False
cnt                          False
hotel_continent              False
hotel_country                False
hotel_market                 False
hotel_cluster                False
dtype: bool

In [21]:
#look at the subset of rows with null in the two srch date columns
print (expedia[expedia['srch_ci'].isnull() | expedia['srch_co'].isnull()][['srch_ci', 'srch_co']])

      srch_ci srch_co
1671      NaT     NaT
2923      NaT     NaT
6040      NaT     NaT
8115      NaT     NaT
8672      NaT     NaT
8673      NaT     NaT
8674      NaT     NaT
10631     NaT     NaT
14175     NaT     NaT
15410     NaT     NaT
15411     NaT     NaT
18511     NaT     NaT
21005     NaT     NaT
21856     NaT     NaT
23996     NaT     NaT
24272     NaT     NaT
27358     NaT     NaT
29608     NaT     NaT
29693     NaT     NaT
32240     NaT     NaT
32878     NaT     NaT
33166     NaT     NaT
34197     NaT     NaT
34198     NaT     NaT
35226     NaT     NaT
35458     NaT     NaT
35577     NaT     NaT
42753     NaT     NaT
48862     NaT     NaT
51407     NaT     NaT
...       ...     ...
66488     NaT     NaT
66489     NaT     NaT
69355     NaT     NaT
70346     NaT     NaT
70498     NaT     NaT
70740     NaT     NaT
70745     NaT     NaT
74125     NaT     NaT
75872     NaT     NaT
75953     NaT     NaT
75954     NaT     NaT
76819     NaT     NaT
76900     NaT     NaT
77345     NaT     NaT
80482     NaT     NaT
81175     NaT     NaT
87398     NaT     NaT
87399     NaT     NaT
87588     NaT     NaT
88857     NaT     NaT
88911     NaT     NaT
88912     NaT     NaT
88913     NaT     NaT
89607     NaT     NaT
91243     NaT     NaT
91244     NaT     NaT
95630     NaT     NaT
97699     NaT     NaT
97700     NaT     NaT
97701     NaT     NaT

[71 rows x 2 columns]

In [22]:
# If one srch date is null, the other one is also
# Print the lengths of the sub-dataframes where columns are null to see how much overlap

print "Rows with srch columns null: " + str(len(expedia[expedia['srch_ci'].isnull() | expedia['srch_co'].isnull()]))
print "Rows with distance column null: " + str(len(expedia[expedia['orig_destination_distance'].isnull()]))
print "Rows with at either srch or distance columns null: " + str(len(expedia[expedia['orig_destination_distance'].isnull() | expedia['srch_ci'].isnull() | expedia['srch_co'].isnull()]))

Rows with srch columns null: 71
Rows with distance column null: 36922
Rows with at either srch or distance columns null: 36977

In [23]:
# drop rows where srch columns are null
expedia = expedia[expedia['srch_ci'].notnull() & expedia['srch_co'].notnull()]
len(expedia) #should be 999,001

99929

In [24]:
#Fill in null values in distance column with the mean distance, with mean grouped by posa_continent
#Other more logical "group by" values didn't work since too many unique origins with missing distance

expedia['orig_destination_distance'].fillna(expedia.groupby('posa_continent')['orig_destination_distance'].transform('mean'), inplace=True)

expedia[expedia['orig_destination_distance'].isnull()] #verify there are no more nulls

Empty DataFrame
Columns: [date_time, site_name, posa_continent, user_location_country, user_location_region, user_location_city, orig_destination_distance, user_id, is_mobile, is_package, channel, srch_ci, srch_co, srch_adults_cnt, srch_children_cnt, srch_rm_cnt, srch_destination_id, srch_destination_type_id, is_booking, cnt, hotel_continent, hotel_country, hotel_market, hotel_cluster]
Index: []

[0 rows x 24 columns]

In [25]:
# Read in destinations file, and join the data with the main dataframe
# "left" join will keep all rows in Expedia, and will create nulls when the destination data is missing
destinations = pd.read_csv('~/Documents/Expedia/destinations.csv')
expedia = pd.merge(expedia, destinations, on='srch_destination_id', how='left')
expedia

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.264100,12,0,1,...,-2.384553,-2.345528,-2.396591,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.264100,12,0,1,...,-2.384553,-2.345528,-2.396591,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.264100,12,0,0,...,-2.384553,-2.345528,-2.396591,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370
3,2014-08-09 18:05:16,2,3,66,442,35390,913.193200,93,0,0,...,-2.254121,-2.242363,-2.299968,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968
4,2014-08-09 18:08:18,2,3,66,442,35390,913.625900,93,0,0,...,-2.254121,-2.242363,-2.299968,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968
5,2014-08-09 18:13:12,2,3,66,442,35390,911.514200,93,0,0,...,-2.254121,-2.242363,-2.299968,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968
6,2014-07-16 09:42:23,2,3,66,189,10067,1850.663392,501,0,0,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
7,2014-07-16 09:45:48,2,3,66,189,10067,1850.663392,501,0,1,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
8,2014-07-16 09:52:11,2,3,66,189,10067,1850.663392,501,0,0,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
9,2014-07-16 09:55:24,2,3,66,189,10067,1850.663392,501,0,0,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
10,2014-07-16 10:00:06,2,3,66,189,10067,1850.663392,501,0,0,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
11,2014-07-16 10:02:58,2,3,66,189,10067,1850.663392,501,0,0,...,-2.355353,-2.310370,-2.356791,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829
12,2014-01-17 06:24:56,2,3,66,318,22418,420.664200,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
13,2014-01-18 14:33:31,2,3,66,318,52078,1850.663392,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
14,2014-01-21 06:39:08,2,3,66,318,22418,421.855100,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
15,2014-01-21 06:40:18,2,3,66,318,22418,421.855100,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
16,2014-01-22 06:10:02,2,3,66,318,22418,421.855100,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
17,2014-01-24 11:52:04,2,3,66,318,22418,421.855100,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
18,2014-01-24 17:26:24,2,3,66,318,52078,1850.663392,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
19,2014-02-27 17:44:23,2,3,66,318,52078,1850.663392,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
20,2014-02-27 18:01:32,2,3,66,318,52078,1850.663392,756,0,1,...,-2.298266,-2.145362,-2.289405,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007
21,2014-12-30 09:50:51,2,3,66,318,21655,1850.663392,756,0,1,...,-2.227167,-2.230316,-2.194970,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970
22,2014-12-30 09:55:43,2,3,66,318,21655,1850.663392,756,0,1,...,-2.227167,-2.230316,-2.194970,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970
23,2014-12-30 09:56:26,2,3,66,318,21655,1850.663392,756,0,1,...,-2.227167,-2.230316,-2.194970,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970
24,2014-10-22 12:20:56,2,3,66,318,52997,47.702700,776,0,0,...,-2.215893,-2.213659,-2.221410,-2.221410,-2.221410,-2.221410,-2.221410,-2.221410,-2.221410,-2.217603
25,2014-11-10 12:38:02,2,3,66,318,48382,1753.261700,776,0,1,...,-2.384553,-2.345528,-2.396591,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370
26,2013-06-15 15:10:49,30,4,195,548,56440,3524.520742,1048,0,1,...,-2.269617,-2.158832,-2.273202,-2.137717,-2.237712,-2.235306,-2.273202,-2.273202,-2.273202,-2.273202
27,2013-06-15 15:38:05,30,4,195,548,56440,3524.520742,1048,0,1,...,-2.269617,-2.158832,-2.273202,-2.137717,-2.237712,-2.235306,-2.273202,-2.273202,-2.273202,-2.273202
28,2014-11-22 14:32:46,30,4,195,991,47725,3524.520742,1048,0,0,...,-2.264659,-2.233329,-2.188037,-2.265921,-2.265921,-2.265921,-2.265921,-2.264935,-2.265921,-2.265921
29,2014-11-22 14:37:05,30,4,195,991,47725,3524.520742,1048,0,0,...,-2.264659,-2.233329,-2.188037,-2.265921,-2.265921,-2.265921,-2.265921,-2.264935,-2.265921,-2.265921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99899,2013-03-13 09:08:59,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.212960,-2.243001,-2.243001,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001
99900,2013-03-13 09:09:34,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.212960,-2.243001,-2.243001,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001
99901,2013-03-13 09:12:23,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99902,2013-03-13 09:12:40,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99903,2013-03-13 09:13:16,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99904,2013-03-13 09:14:23,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99905,2013-03-13 09:15:42,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99906,2013-03-13 09:16:33,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99907,2013-03-13 09:20:15,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99908,2013-03-13 09:21:19,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99909,2013-03-13 09:22:39,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99910,2013-03-13 09:23:49,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99911,2013-03-13 09:24:38,37,1,69,669,55281,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99912,2013-03-13 09:29:51,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.212960,-2.243001,-2.243001,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001
99913,2013-03-13 09:46:08,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.212960,-2.243001,-2.243001,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001
99914,2013-03-13 10:05:43,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.175982,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948
99915,2013-03-13 10:06:28,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.175982,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948
99916,2013-03-27 17:35:09,37,1,69,640,29228,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99917,2013-03-27 17:35:59,37,1,69,640,29228,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99918,2013-03-27 17:37:15,37,1,69,640,29228,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99919,2013-03-31 20:29:55,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.181324,-2.185827,-2.185827,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827
99920,2013-03-31 20:30:30,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.181324,-2.185827,-2.185827,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827
99921,2013-03-31 20:31:09,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.181324,-2.185827,-2.185827,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827
99922,2013-03-31 20:32:23,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.181324,-2.185827,-2.185827,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827
99923,2013-04-01 14:26:06,37,1,69,612,3062,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99924,2013-04-01 14:26:31,37,1,69,612,3062,2504.137670,391007,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99925,2013-04-01 17:01:22,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.182801,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801
99926,2013-04-01 17:04:26,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.182801,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801
99927,2013-04-01 17:05:01,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.182801,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801
99928,2013-04-01 18:15:01,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.187917,-2.187917,-2.187917,-2.187917,-2.187917,-2.163251,-2.187917,-2.187917,-2.187917,-2.187917

In [26]:
expedia.isnull().any()

date_time                    False
site_name                    False
posa_continent               False
user_location_country        False
user_location_region         False
user_location_city           False
orig_destination_distance    False
user_id                      False
is_mobile                    False
is_package                   False
channel                      False
srch_ci                      False
srch_co                      False
srch_adults_cnt              False
srch_children_cnt            False
srch_rm_cnt                  False
srch_destination_id          False
srch_destination_type_id     False
is_booking                   False
cnt                          False
hotel_continent              False
hotel_country                False
hotel_market                 False
hotel_cluster                False
d1                            True
d2                            True
d3                            True
d4                            True
d5                            True
d6                            True
                             ...
d120                          True
d121                          True
d122                          True
d123                          True
d124                          True
d125                          True
d126                          True
d127                          True
d128                          True
d129                          True
d130                          True
d131                          True
d132                          True
d133                          True
d134                          True
d135                          True
d136                          True
d137                          True
d138                          True
d139                          True
d140                          True
d141                          True
d142                          True
d143                          True
d144                          True
d145                          True
d146                          True
d147                          True
d148                          True
d149                          True
dtype: bool

In [27]:
for colnum in range(1, 150): # fill null d-values with column means, grouped by hotel_continent
    colname = 'd' + str(colnum)
    expedia[[colname]].fillna(expedia.groupby('hotel_continent')[[colname]].transform('mean'), inplace=True)
 
expedia.isnull().any()

date_time                    False
site_name                    False
posa_continent               False
user_location_country        False
user_location_region         False
user_location_city           False
orig_destination_distance    False
user_id                      False
is_mobile                    False
is_package                   False
channel                      False
srch_ci                      False
srch_co                      False
srch_adults_cnt              False
srch_children_cnt            False
srch_rm_cnt                  False
srch_destination_id          False
srch_destination_type_id     False
is_booking                   False
cnt                          False
hotel_continent              False
hotel_country                False
hotel_market                 False
hotel_cluster                False
d1                            True
d2                            True
d3                            True
d4                            True
d5                            True
d6                            True
                             ...
d120                          True
d121                          True
d122                          True
d123                          True
d124                          True
d125                          True
d126                          True
d127                          True
d128                          True
d129                          True
d130                          True
d131                          True
d132                          True
d133                          True
d134                          True
d135                          True
d136                          True
d137                          True
d138                          True
d139                          True
d140                          True
d141                          True
d142                          True
d143                          True
d144                          True
d145                          True
d146                          True
d147                          True
d148                          True
d149                          True
dtype: bool

In [28]:
len(expedia[expedia['d1'].isnull()]) #how many more rows with nulls, if d1 is null, all d values are null

608

In [29]:
expedia = expedia[expedia['d1'].notnull()] # drop remaining rows with null d values
expedia.isnull().any()

date_time                    False
site_name                    False
posa_continent               False
user_location_country        False
user_location_region         False
user_location_city           False
orig_destination_distance    False
user_id                      False
is_mobile                    False
is_package                   False
channel                      False
srch_ci                      False
srch_co                      False
srch_adults_cnt              False
srch_children_cnt            False
srch_rm_cnt                  False
srch_destination_id          False
srch_destination_type_id     False
is_booking                   False
cnt                          False
hotel_continent              False
hotel_country                False
hotel_market                 False
hotel_cluster                False
d1                           False
d2                           False
d3                           False
d4                           False
d5                           False
d6                           False
                             ...
d120                         False
d121                         False
d122                         False
d123                         False
d124                         False
d125                         False
d126                         False
d127                         False
d128                         False
d129                         False
d130                         False
d131                         False
d132                         False
d133                         False
d134                         False
d135                         False
d136                         False
d137                         False
d138                         False
d139                         False
d140                         False
d141                         False
d142                         False
d143                         False
d144                         False
d145                         False
d146                         False
d147                         False
d148                         False
d149                         False
dtype: bool

In [30]:
#nulls are gone, now let's make some features
from datetime import datetime
import numpy as np

expedia['duration'] = (expedia['srch_co'] - expedia['srch_ci']) / np.timedelta64(1, 'D') # duration of trip
expedia['in_advance'] = (expedia['srch_ci'] - expedia['date_time']) / np.timedelta64(1, 'D') # time booked in advance
expedia['trip_month'] = pd.DatetimeIndex(expedia['srch_ci']).month # month of the check-in date

expedia

C:\Users\Brian\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Brian\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Brian\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,d143,d144,d145,d146,d147,d148,d149,duration,in_advance,trip_month
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.264100,12,0,1,...,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370,4.0,15.675706,8
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.264100,12,0,1,...,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370,4.0,17.651250,8
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.264100,12,0,0,...,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370,4.0,17.649618,8
3,2014-08-09 18:05:16,2,3,66,442,35390,913.193200,93,0,0,...,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968,5.0,105.246343,11
4,2014-08-09 18:08:18,2,3,66,442,35390,913.625900,93,0,0,...,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968,5.0,105.244236,11
5,2014-08-09 18:13:12,2,3,66,442,35390,911.514200,93,0,0,...,-2.299212,-2.286866,-2.261816,-2.299968,-2.295632,-2.299968,-2.299968,5.0,105.240833,11
6,2014-07-16 09:42:23,2,3,66,189,10067,1850.663392,501,0,0,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.595567,8
7,2014-07-16 09:45:48,2,3,66,189,10067,1850.663392,501,0,1,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.593194,8
8,2014-07-16 09:52:11,2,3,66,189,10067,1850.663392,501,0,0,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.588762,8
9,2014-07-16 09:55:24,2,3,66,189,10067,1850.663392,501,0,0,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.586528,8
10,2014-07-16 10:00:06,2,3,66,189,10067,1850.663392,501,0,0,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.583264,8
11,2014-07-16 10:02:58,2,3,66,189,10067,1850.663392,501,0,0,...,-2.356312,-2.337682,-2.355353,-2.356368,-2.353851,-2.356791,-2.294829,1.0,15.581273,8
12,2014-01-17 06:24:56,2,3,66,318,22418,420.664200,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,3.0,89.732685,4
13,2014-01-18 14:33:31,2,3,66,318,52078,1850.663392,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,3.0,87.393391,4
14,2014-01-21 06:39:08,2,3,66,318,22418,421.855100,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,3.0,85.722824,4
15,2014-01-21 06:40:18,2,3,66,318,22418,421.855100,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,86.722014,4
16,2014-01-22 06:10:02,2,3,66,318,22418,421.855100,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,85.743032,4
17,2014-01-24 11:52:04,2,3,66,318,22418,421.855100,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,82.505509,4
18,2014-01-24 17:26:24,2,3,66,318,52078,1850.663392,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,82.273333,4
19,2014-02-27 17:44:23,2,3,66,318,52078,1850.663392,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,48.260845,4
20,2014-02-27 18:01:32,2,3,66,318,52078,1850.663392,756,0,1,...,-2.299516,-2.293402,-2.298682,-2.299516,-2.293223,-2.299516,-2.217007,2.0,49.248935,4
21,2014-12-30 09:50:51,2,3,66,318,21655,1850.663392,756,0,1,...,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970,2.0,37.589687,2
22,2014-12-30 09:55:43,2,3,66,318,21655,1850.663392,756,0,1,...,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970,2.0,37.586308,2
23,2014-12-30 09:56:26,2,3,66,318,21655,1850.663392,756,0,1,...,-2.233893,-2.194970,-2.229398,-2.233893,-2.233674,-2.231639,-2.194970,2.0,37.585810,2
24,2014-10-22 12:20:56,2,3,66,318,52997,47.702700,776,0,0,...,-2.221410,-2.221410,-2.221410,-2.221410,-2.221410,-2.221410,-2.217603,1.0,2.485463,10
25,2014-11-10 12:38:02,2,3,66,318,48382,1753.261700,776,0,1,...,-2.399953,-2.388116,-2.394294,-2.400667,-2.398716,-2.386585,-2.390370,2.0,72.473588,1
26,2013-06-15 15:10:49,30,4,195,548,56440,3524.520742,1048,0,1,...,-2.137717,-2.237712,-2.235306,-2.273202,-2.273202,-2.273202,-2.273202,8.0,83.367488,9
27,2013-06-15 15:38:05,30,4,195,548,56440,3524.520742,1048,0,1,...,-2.137717,-2.237712,-2.235306,-2.273202,-2.273202,-2.273202,-2.273202,8.0,82.348553,9
28,2014-11-22 14:32:46,30,4,195,991,47725,3524.520742,1048,0,0,...,-2.265921,-2.265921,-2.265921,-2.265921,-2.264935,-2.265921,-2.265921,2.0,215.393912,6
29,2014-11-22 14:37:05,30,4,195,991,47725,3524.520742,1048,0,0,...,-2.265921,-2.265921,-2.265921,-2.265921,-2.264935,-2.265921,-2.265921,2.0,215.390914,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99860,2013-01-27 13:15:39,37,1,69,679,16880,2504.137670,391007,0,1,...,-2.235001,-2.237843,-2.273381,-2.296897,-2.296445,-2.296690,-2.283982,7.0,271.447465,10
99861,2013-02-03 13:24:41,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.194999,-2.194999,-2.168346,-2.194999,-2.194999,-2.194999,-2.194999,7.0,109.441192,5
99862,2013-02-03 13:26:36,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.194999,-2.194999,-2.168346,-2.194999,-2.194999,-2.194999,-2.194999,7.0,109.439861,5
99863,2013-02-05 12:09:24,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.194999,-2.194999,-2.168346,-2.194999,-2.194999,-2.194999,-2.194999,7.0,107.493472,5
99864,2013-02-05 12:10:59,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.194999,-2.194999,-2.168346,-2.194999,-2.194999,-2.194999,-2.194999,7.0,107.492373,5
99865,2013-02-05 12:11:37,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.194999,-2.194999,-2.168346,-2.194999,-2.194999,-2.194999,-2.194999,7.0,107.491933,5
99866,2013-02-05 13:52:49,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.239478,-2.239478,-2.208364,-2.239478,-2.239478,-2.239478,-2.239478,7.0,106.421655,5
99887,2013-02-07 08:18:54,37,1,69,640,48907,2504.137670,391007,0,0,...,-2.239478,-2.239478,-2.208364,-2.239478,-2.239478,-2.239478,-2.239478,7.0,104.653542,5
99888,2013-02-07 08:20:27,37,1,69,640,48907,2504.137670,391007,0,0,...,-2.239478,-2.239478,-2.208364,-2.239478,-2.239478,-2.239478,-2.239478,7.0,104.652465,5
99889,2013-02-07 15:30:45,37,1,69,1008,13500,2504.137670,391007,0,0,...,-2.214197,-2.214197,-2.214197,-2.214197,-2.214197,-2.214197,-2.214197,7.0,104.353646,5
99890,2013-02-25 15:10:53,37,1,69,640,29228,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,87.367442,5
99891,2013-02-25 15:11:52,37,1,69,640,29228,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,87.366759,5
99895,2013-03-13 09:03:30,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.622569,5
99896,2013-03-13 09:04:52,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.621620,5
99897,2013-03-13 09:06:28,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.620509,5
99898,2013-03-13 09:07:00,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.620139,5
99899,2013-03-13 09:08:59,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.618762,5
99900,2013-03-13 09:09:34,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,7.0,70.618356,5
99912,2013-03-13 09:29:51,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,3.0,70.604271,5
99913,2013-03-13 09:46:08,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.243001,-2.243001,-2.219334,-2.230368,-2.243001,-2.243001,-2.243001,3.0,70.592963,5
99914,2013-03-13 10:05:43,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,3.0,70.579363,5
99915,2013-03-13 10:06:28,37,1,69,669,55281,2504.137670,391007,0,0,...,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,-2.184948,3.0,70.578843,5
99919,2013-03-31 20:29:55,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827,7.0,52.145891,5
99920,2013-03-31 20:30:30,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827,7.0,52.145486,5
99921,2013-03-31 20:31:09,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827,7.0,52.145035,5
99922,2013-03-31 20:32:23,37,1,69,669,28902,2504.137670,391007,0,0,...,-2.185827,-2.185827,-2.163766,-2.185827,-2.185827,-2.185827,-2.185827,7.0,52.144178,5
99925,2013-04-01 17:01:22,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801,4.0,54.290718,5
99926,2013-04-01 17:04:26,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801,4.0,54.288588,5
99927,2013-04-01 17:05:01,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.182801,-2.182801,-2.156169,-2.182801,-2.182801,-2.182801,-2.182801,4.0,54.288183,5
99928,2013-04-01 18:15:01,37,1,69,612,3062,2504.137670,391007,0,0,...,-2.187917,-2.187917,-2.163251,-2.187917,-2.187917,-2.187917,-2.187917,4.0,54.239572,5

In [31]:
expedia.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,d143,d144,d145,d146,d147,d148,d149,duration,in_advance,trip_month
count,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,...,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000,99321.000000
mean,9.076268,2.638234,84.449412,311.322600,28440.290301,2003.037554,195446.352212,0.138098,0.260106,5.763897,...,-2.254346,-2.248540,-2.257033,-2.260938,-2.267019,-2.265801,-2.239062,3.385105,54.123924,7.200109
std,12.055419,0.751119,54.263845,209.287157,16825.503789,1707.969987,110086.223927,0.345004,0.438694,3.770550,...,0.062957,0.060402,0.049961,0.068761,0.050916,0.052475,0.070997,3.128750,64.602090,3.372205
min,2.000000,0.000000,0.000000,0.000000,3.000000,0.005600,12.000000,0.000000,0.000000,0.000000,...,-2.399953,-2.403371,-2.394729,-2.403371,-2.398716,-2.388346,-2.392952,-234.000000,-107.795289,1.000000
25%,2.000000,3.000000,66.000000,174.000000,13894.000000,715.748200,107438.000000,0.000000,0.000000,2.000000,...,-2.286122,-2.278273,-2.283220,-2.293691,-2.293223,-2.294888,-2.276540,1.000000,9.162940,4.000000
50%,2.000000,3.000000,66.000000,311.000000,27733.000000,1850.663392,181651.000000,0.000000,0.000000,9.000000,...,-2.249634,-2.242573,-2.250099,-2.258193,-2.261589,-2.260641,-2.240363,3.000000,29.720174,8.000000
75%,11.000000,3.000000,69.000000,385.000000,43040.000000,2504.137670,300773.000000,0.000000,1.000000,9.000000,...,-2.219957,-2.211198,-2.224354,-2.225821,-2.232612,-2.230841,-2.204944,4.000000,75.506979,10.000000
max,53.000000,4.000000,239.000000,1025.000000,56495.000000,11641.224200,391007.000000,1.000000,1.000000,10.000000,...,-1.930367,-1.935139,-2.012649,-1.463392,-1.939302,-1.945084,-1.814839,190.000000,557.609433,12.000000

In [32]:
df_channel = pd.get_dummies(expedia['channel'], prefix='channel')
df_tripmonth = pd.get_dummies(expedia['trip_month'], prefix='month')
df_sitename = pd.get_dummies(expedia['site_name'], prefix='site')
df_posacontinent = pd.get_dummies(expedia['posa_continent'], prefix='posa')

In [38]:
# create feature matrix X

# excluded columns 'site_name', 'posa_continent', 'user_location_country', 'user_location_region', 'hotel_continent', 'hotel_country', 
# 'user_location_city',  'user_id', 'hotel_market', 'srch_destination_type_id', 'is_booking', 'cnt'

feature_cols = [ 
                'is_mobile', 'is_package', 'srch_adults_cnt', 'srch_children_cnt', 
                'orig_destination_distance', 'srch_rm_cnt',   
                'duration', 'in_advance']

X = expedia[expedia['is_booking' == 1]]
X = X[feature_cols]

X = X.join(df_channel)
X = X.join(df_tripmonth)
# X = X.join(df_sitename)
# X = X.join(df_posacontinent)

# X = X.join(expedia.iloc[:,24:173]) # add in the d-value columns

print(X.shape)

# create response vector (y)
y = expedia[expedia['is_booking' == 1]].hotel_cluster

print(y.shape)

KeyError: False

In [34]:
print "Null accuracy: " + str(y.value_counts(1).head(1))

Null accuracy: 91    0.027869
Name: hotel_cluster, dtype: float64

In [35]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

print X_train.shape
print X_test.shape

(74490, 76)
(24831, 76)

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# standardize X_train
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [37]:
# import the classifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

# instantiate the model
knn = KNeighborsClassifier(n_neighbors=10) # try with 10 first

# train the model
knn.fit(X_train_scaled, y_train)

y_pred_class = knn.predict(X_test_scaled)

print metrics.accuracy_score(y_test, y_pred_class) # This is the accuracy

0.110426483025

In [22]:
pd.pivot_table(expedia, index=['srch_destination_id'], columns=['hotel_cluster'], values='cnt', aggfunc='count', fill_value=0)
#hotels do not stay in the same hotel_cluster....they move around

hotel_cluster,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
srch_destination_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,13,0,0,...,0,2,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,1,8,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
21,0,0,2,43,0,10,0,4,0,0,...,4,0,0,0,0,0,0,0,0,0
24,0,0,0,3,0,0,0,0,0,0,...,0,22,0,0,4,0,0,0,0,0
25,0,0,0,0,0,12,0,0,0,0,...,7,7,0,7,2,0,0,0,0,0
26,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,2,0,0,0,0,0,0,...,6,0,0,0,0,0,0,0,0,0
32,0,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,10,0,0,...,0,17,0,0,2,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64675,0,0,0,0,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
64676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
64683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64709,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
64711,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
64729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64739,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64741,0,0,0,0,0,3,0,0,0,0,...,5,0,1,3,0,0,0,9,0,0
64748,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64777,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,2,0,0,0,0,0
64778,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
64781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64811,0,0,0,0,0,0,0,0,0,0,...,1,0,0,4,0,0,0,0,0,0
64836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64925,0,0,1,0,0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0
64927,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64937,0,0,0,0,0,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
64940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
64941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64950,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
64975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64982,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
64986,0,0,0,0,0,0,0,1,0,0,...,1,2,0,0,2,0,0,0,0,0
64988,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
64991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0